body {
  background: linear-gradient(
    178.6deg,
    rgb(20, 36, 50) 11.8%,
    rgb(124, 143, 161) 83.8%
  );
  padding: 15px 60px 60px 60px;
  line-height: 1.7;
}

nav a img {
  width: 50px;
  border-radius: 60px;
}
.name-link {
  color: white;
  text-decoration: none;
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
  font-family: "Poor Story", system-ui;
  font-family: "Poppins", sans-serif;
  font-family: "Protest Revolution", sans-serif;
  font-size: 20px;
  margin-left: 5px;
}
nav a .name-link {
  text-decoration: none;
}
nav a :hover {
  text-decoration: underline;
  color: white;
}

nav ul {
  list-style: none;
  margin-top: 12px;
  display: flex;
  justify-content: space-evenly;
}
nav li a {
  color: white;
  margin: 10px;
  font-size: 15px;
  font-family: "Playfair Display", serif;
  font-family: "Poor Story", system-ui;
  font-family: "Poppins", sans-serif;
  font-family: "Protest Revolution", sans-serif;
}
nav li a:hover {
  text-decoration: underline;
  color: white;
}
.active {
  color: black;
}
.gif {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 700px;
}
h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-family: "Poor Story", system-ui;
  font-family: "Poppins", sans-serif;
  font-family: "Protest Revolution", sans-serif;
  padding: 30px;
  font-size: 50px;
  color: white;
}
p {
  font-family: "Playfair Display", serif;
  font-family: "Poor Story", system-ui;
  font-family: "Poppins", sans-serif;
  font-family: "Protest Revolution", sans-serif;
  font-family: "Single Day", cursive;
  font-size: 40px;
  color: white;
  padding-bottom: 20px;
}
.logo {
  color: black;
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
}
.img1 {
  width: 400px;
  padding: 30px;
  background-color: rgb(192, 207, 219);
  border-radius: 20px;
  border-style: dashed;
  border-color: white;
  margin: 40px 0;
}
.img2 {
  width: 400px;
  display: block;
  padding: 30px;
  background-color: rgb(192, 207, 219);
  border-radius: 20px;
  border-style: dashed;
  border-color: white;
  margin: 40px 0;
}
h3 {
  font-family: "Playfair Display", serif;
  font-family: "Poor Story", system-ui;
  font-family: "Poppins", sans-serif;
  font-family: "Protest Revolution", sans-serif;
  padding-top: 30px;
  padding-bottom: 15px;
  color: white;

  line-height: 1.5;
}
.project-description {
  font-size: 23px;

  line-height: 1.5;
}
.p-about {
  text-align: center;
}
a {
  color: #2c3d4c;
}
a:hover {
  color: white;
}
.skills {
  font-family: "Playfair Display", serif;
  font-family: "Poor Story", system-ui;
  font-family: "Poppins", sans-serif;
  font-family: "Protest Revolution", sans-serif;
  font-family: "Single Day", cursive;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}
.skills-skill {
  padding: 10px;
  margin: 10px;
  background: #2c3d4c;
  border-radius: 5px;
}
.skill-responsive {
  margin-left: 50px;
}
@media (max-width: 900px) {
  body {
    padding: 15px 18px 18px 30px;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    padding-top: 0;
  }
  p {
    font-size: 20px;
  }
  .project-description {
    font-size: 18px;
  }
  nav img {
    width: 20px;
  }
  .name-link {
    display: none;
  }
  nav li a {
    font-size: 10px;
    margin: 5px;
  }
  .skill-responsive {
    margin-left: 0;
  }
}
